$base-font-size: 10px;
$base-font-color: black;
$base-bg-color: white;

$dark: rgb(24, 23, 23);
$dim-dark: rgb(44, 43, 43);
$light: rgb(240, 234, 234);
$dim-light: rgb(131, 128, 128);
$primary: rgb(140, 175, 240);
$gray: gray;
$white: #fff;
