$base-font-size: 10px;
$base-font-color: black;
$base-bg-color: white;

$dark: rgb(24, 23, 23);
$dim-dark: rgba(148, 147, 147, 0.164);
$light: rgb(240, 234, 234);
$dim-light: rgb(131, 128, 128);
$primary: rgb(169, 193, 238);
$gray: gray;
